/* GmailCopy.css */
.gmail-copy {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #ec6e59;
    font-size: 1.2rem;
    padding: 5px;
    margin-left: -5px;
    /* Adjust this value to move it slightly to the left */
    transition: background-color 0.3s;
}

.gmail-copy:hover {
    background-color: rgba(236, 110, 89, 0.1);
}

.email-icon {
    margin-right: 8px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .gmail-copy {
        font-size: 1rem;
        padding: 8px;
        margin-left: -4px;
        /* Adjust for smaller screens if needed */
    }
}

@media (max-width: 480px) {
    .gmail-copy {
        font-size: 0.9rem;
        padding: 6px;
        margin-left: -3px;
        /* Further adjustment for extra small screens */
    }

    .email-icon {
        margin-right: 6px;
    }
}
